.imgbanniere {
    width: 90%;
    height: 92%;
    border-radius: 10px;
    //filter: grayscale(1);
    //-webkit-filter: grayscale(1);
}

.background{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.slide {
    margin : auto ;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
}

