.divBUT1 {
  color: $white;
  width: 100%;
  font-size: 1rem;
  font-family: $font-1;
  .introBUT1, .resBUT1, .telBUT1, .progBUT1 {
    text-align: center;
    h4 {
      color: rgba(255, 255, 255, 1);
      font-style: none;
      text-decoration: none;  
    }
  }
  p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  span {
    text-decoration: underline;
  }

  .imgBUT1 {
    width: 35%;
    margin: auto;
    .lan {
      width: 80%;
      height: auto;
    }
    .telephonie {
        width: 100%;
        height: auto;
      }
      .prograWeb{
        width: 100%;
        height: auto;
      }
  }
}

@media screen and (max-width: 550px) {
  .divBUT1 {
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
    }
    span {
      text-decoration: underline;
    }
  
    .imgBUT1 {
      width: 80%;
      margin: auto;
      .lan {
        width: 80%;
        height: auto;
      }
      .telephonie {
          width: 100%;
          height: auto;
        }
        .prograWeb{
          width: 100%;
          height: auto;
        }
    }
  }
}

@media screen and (max-width: 450px) {
  .divBUT1 {
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
    }
    span {
      text-decoration: underline;
    }
  
    .imgBUT1 {
      width: 100%;
      padding-bottom: 15px;
      margin: auto;
      .lan {
        width: 80%;
        height: auto;
      }
      .telephonie {
          width: 100%;
          height: auto;
        }
        .prograWeb{
          width: 100%;
          height: auto;
        }
    }
  }
}