.choisirBUT{
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
}

.choisirBUT h2{
    text-decoration: $white underline;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 2rem;

}

.avantagesIUT{
    width: 30%;
}

.avantagesIUT ul li{
    padding-bottom: 10px;
}

.avantagesBUT ul li{
    padding-bottom: 10px;
}

.certifications{
    width: 30%;
    text-align: center;
}

.avantagesBUT{
    width: 30%;
}

.choisirBUT p{
    text-align: center;
}

.infoBUT{
    text-decoration: underline $white;
    text-align: center;
    padding-top: 20px;
}

.imgcisco{
    width: 75%;
    height: auto;
    padding-top: 20px;
}

.imgstormshield{
    width: 75%;
    height: auto;
    padding-top: 20px;
}

@media screen and (max-width: 640px){
    .choisirBUT{
        color: $white;
    width: 100%;
    font-size: 0.8rem;
    font-family: $font-1;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    }

    .avantagesIUT{
        width: 100%;  
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 20px; 
    }
    
    .certifications{
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .avantagesBUT{
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .imgcisco{
        width: 50%;
        height: auto;
        padding-top: 20px;
        
    }
    
    .imgstormshield{
        width: 50%;
        height: auto;
        padding-top: 20px;
    }
}