.choisirBUT{
    color: white;
    width: 100%;
    font-size: 1.2vw;
    font-family: $font-1;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
}

.choisirBUT h1{
    text-decoration: white underline;
    text-align: center;
    padding-bottom: 5%;

}

.avantagesIUT{
    width: 30%;
}

.certifications{
    width: 30%;
    text-align: center;
}

.avantagesBUT{
    width: 30%;
}

.paragavantageBUT p{
    padding-bottom: 50px;
}

.infoBUT{
    text-decoration: underline white;
    text-align: center;
    padding-top: 20px;
}

.imgcisco{
    width: 75%;
    height: auto;
    padding-top: 20px;
    
}

.imgstormshield{
    width: 75%;
    height: auto;
    padding-top: 20px;
}