.construction {
  color: $white;
  font-size: 1rem;
  font-family: $font-1;
  width: 100%;
  text-align: center;
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease;
  h2 {
    text-decoration: $white underline;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    letter-spacing: 1px;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
  }
  .textBuild {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.divConstructionLogo {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  .constructionLogo {
    width: 50%;
    height: auto;
  }
}

.homeButton {
  padding-bottom: 3rem;
  padding-top: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  max-width: 160px;
  line-height: 45px;
  font-size: 1.5rem;
}

.homeButton:after,
.homeButton:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.homeButton:hover:after,
.homeButton:hover:before {
  backface-visibility: hidden;
  border-color: $white;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.homeButton:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
