.diagpoursuiteetude{
  display: block;
  width: 400px;
  text-align: center;
  padding-bottom: 10px;
  h2{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.diagramme{
  width: 400px;
  height: 400px;
}