.footer{
    width: 100%;
    height: 80px;
    font-family: $font-1;
    background-color: $darkred;
    border-top: #62253c solid 2px;     
    color: $white;
    overflow: hidden;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        text-align: center;
        li{
            list-style-type: none;
            letter-spacing: 1px;
            img{
                width: 100px;
            }
            i{
                font-size: 50px;
            }
        }
        a:hover {
            color: rgb(112, 182, 247);
        }
    }
}


@media screen and (max-width: 640px){
    .footer{
        ul{
            li{
                letter-spacing: 0px;
                font-size: 0.9rem;
                i{
                    font-size: 30px;
                }
                img{
                    width: 80px;
                }
            }
        }
    }
    #adminFooter{
        display: none;
    }
}

@media screen and (max-width: 300px){
    #fbFooter{
        display: none;
    }
    #instaFooter{
        display: none;
    }
}

// Animation for third list of icons
.image:hover, #fbFooter:hover, #instaFooter:hover {
    // Change type of cursor
    cursor: pointer;
    text-align: center;
    // Animation's properties
    animation-name: floatingImg;
    animation-duration: 2s;
    // Check this property on internet if you want to know more about it (flemme d'expliquer mdrrr)
    animation-timing-function: cubic-bezier(.2, 0, .8, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

// Animation movement
@keyframes floatingImg {
    100% {
        transform: translateY(5px);
    }
}