.navigationContent{
  background-color: #15090e;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.25rem;
  font-family: $font-1;
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: #62253c solid 2px;     

}

.navigationContent ul li{
  list-style-type: none;
}

.navigationContent ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center !important;
}


a:hover{
  color: aqua;
}
a:active{
  opacity: 0.3;
}


//responsiv navbar below 1200 px screen

@media screen and (max-width: 1200px){
  .navigationContent{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2rem;
  }
}
//responsiv navbar below 900 px screen

@media screen and (max-width: 900px){
  .navigationContent{
    padding-left: 0%;
    padding-right: 0%;
    font-size: 1.1rem;
  }
}
//1200px

@media screen and (max-width: 640px){

  .navigationContent{
    width: 100%;
    height: 90px;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 1rem;
  }
  
  .navigationContent ul{
    display: flex;
    flex-wrap: nowrap;
  }

}

@media screen and (max-width: 540px){
  .navigationContent{
    height: 80px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 510px){
  .navigationContent{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 462px){
  .navigationContent{
    padding-top: 30px;
  }
}

@media screen and (max-width: 280px){
  .navigationContent{
    height: 76px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 240px){
  .navigationContent{
    height: 68px;
    font-size: 0.8rem;
  }
}