.photos360 {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: $font-1;
  color: $white;
  .text360 {
    text-decoration: underline;
  }
  span{
    font-family: $font-2;
    padding-top: 20px;
  }
  p{
    margin-top: 20px;
  }
}

.div360 {
  display: inline-flex;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .G02 {
    order: 1;
    width: 80%;
    padding-top: 30px;
    align-items: center;
    .pnlm-container {
      margin: 0 auto;
    }
  }

  .G04 {
    order: 2;
    width: 80%;
    padding-top: 30px;
    height: auto;
    .pnlm-container {
      margin: 0 auto;
    }
  }

  .G07 {
    order: 3;
    width: 80%;
    padding-top: 30px;
    height: auto;
    .pnlm-container {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 950px) {
  .G02 {
    order: 1;
    padding-top: 30px;
    align-items: center;
    .pnlm-container {
      margin: 0 auto;
      max-height: 300px;
    }
  }

  .G04 {
    order: 2;
    width: 90%;
    padding-top: 30px;
    height: auto;
    .pnlm-container {
      margin: 0 auto;
      max-height: 300px;
    }
  }

  .G07 {
    order: 3;
    width: 90%;
    padding-top: 30px;
    height: auto;
    .pnlm-container {
      margin: 0 auto;
      max-height: 300px;
    }
  }
}

@media screen and (max-width: 500px) {
  .G02 {
    order: 1;
    padding-top: 30px;
    align-items: center;
    .pnlm-container {
      margin: 0 auto;
      max-height: 200px;
    }
  }

  .G04 {
    order: 2;
    width: 90%;
    padding-top: 30px;
    height: auto;
    .pnlm-container {
      margin: 0 auto;
      max-height: 200px;
    }
  }

  .G07 {
    order: 3;
    width: 90%;
    padding-top: 30px;
    height: auto;
    .pnlm-container {
      margin: 0 auto;
      max-height: 200px;
    }
  }
}
