.divProgramme {
  color: $white;
  width: 100%;
  font-size: 1rem;
  font-family: $font-1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  h2 {
    text-decoration: $white underline;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 4rem;
    letter-spacing: 1px;
    list-style-type: none;
  }
}

.RRT__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.RRT__tab--collapsed {
  background-color: $greyred;
}

.RRT__tab:focus {
  background-color: $red;
  border: none;
  color: $black;
}

.RRT__tab {
  background: $greyred;
  border-style: none;
  border-color: none;
}

.RRT__tab--selected {
  background-color: $red;
  border: none;
  color: black;
}
.RRT__tab--selected:focus {
  background-color: $red;
}

.RRT__panel {
  border: none;
  background: $lightred;
}

.RRT__showmore--selected {
  background: $red;
  border-bottom: none;
}

.RRT__showmore-label--selected {
  background-color: $red;
}
