.video{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    span{
        align-self: flex-end;
    }
}

.video2017{
    text-align: center;
    overflow:hidden;
    padding-bottom: 20px;
    width: auto;
    iframe{
        width: 560;
        height: 315;
    }
}

.video2019{
    text-align: center;
    overflow:hidden;
    padding-bottom: 20px;
}