.divBUT3 {
  color: $white;
  width: 100%;
  font-size: 1rem;
  font-family: $font-1;
  .introBUT3, .resBUT3, .telBUT3, .progBUT3 {
    text-align: center;
    h4 {
      color: rgba(255, 255, 255, 1);
      font-style: none;
      text-decoration: none;  
    }
  }
  p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  span {
    text-decoration: underline;
  }

  .imgBUT3 {
    // Zoom animation - Base properties
    -webkit-transform: scale(1);
    transform: scale(1);      
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;    width: 35%;
    margin: auto;
    .infra {
      width: 100%;
      height: auto;
    }
    .gsm {
      width: 100%;
      height: auto;
    }
    .github {
      width: 100%;
      height: auto;
    }
  }
  .imgBUT3:hover{
    // Launch Zoom animation
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@media screen and (max-width: 550px) {
  .divBUT3 {
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
    }
    span {
      text-decoration: underline;
    }
  
    .imgBUT3 {
      width: 80%;
      margin: auto;
      .infra {
        width: 100%;
        height: auto;
      }
      .gsm {
          width: 100%;
          height: auto;
        }
        .github{
          width: 100%;
          height: auto;
        }
    }
  }
}

@media screen and (max-width: 450px) {
  .divBUT3 {
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
    }
    span {
      text-decoration: underline;
    }
  
    .imgBUT3 {
      width: 100%;
      margin: auto;
      .infra {
        width: 100%;
        height: auto;
      }
      .gsm {
          width: 100%;
          height: auto;
        }
        .github{
          width: 100%;
          height: auto;
        }
    }
  }
}