.divBUT2 {
  color: $white;
  width: 100%;
  font-size: 1rem;
  font-family: $font-1;
  .introBUT2, .resBUT2, .telBUT2, .progBUT2 {
    text-align: center;
    h4 {
      color: rgba(255, 255, 255, 1);
      font-style: none;
      text-decoration: none;  
    }
  }
  p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  span {
    text-decoration: underline;
  }

  .imgBUT2 {
    // Zoom animation - Base properties
    -webkit-transform: scale(1);
    transform: scale(1);      
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 35%;
    margin: auto;
    .ldap {
      width: 100%;
      height: auto;
    }
    .vpn {
      width: 100%;
      height: auto;
    }
    .bdd {
      width: 100%;
      height: auto;
    }
  }
  .imgBUT2:hover{
    // Launch Zoom animation
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
  }
}

@media screen and (max-width: 550px) {
  .divBUT2 {
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
    }
    span {
      text-decoration: underline;
    }
  
    .imgBUT2 {
      width: 80%;
      margin: auto;
      .ldap {
        width: 100%;
        height: auto;
      }
      .vpn {
          width: 100%;
          height: auto;
        }
        .bdd{
          width: 100%;
          height: auto;
        }
    }
  }
}

@media screen and (max-width: 450px) {
  .divBUT2 {
    color: $white;
    width: 100%;
    font-size: 1rem;
    font-family: $font-1;
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left;
    }
    span {
      text-decoration: underline;
    }
  
    .imgBUT2 {
      width: 100%;
      margin: auto;
      .ldap {
        width: 100%;
        height: auto;
      }
      .vpn {
          width: 100%;
          height: auto;
        }
        .bdd{
          width: 100%;
          height: auto;
        }
    }
  }
}