.divProgramme {
  color: white;
  background-color: black;
  width: 100%;
  font-family: $font-1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4rem;
    letter-spacing: 1px;
    list-style-type: none;
  }


.RRT__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: -40px;
}

.RRT__tab--collapsed {
  background-color: $greyred;
}

.RRT__tab:focus {
  background-color: $red;
  border-style: solid;
  color: $blue;
}

.RRT__tab:hover {
  background-color: $red;
  border-style: solid;
  color: $blue;
}

.RRT__tab {
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
}

.RRT__tab--selected {
  background-color: $red;
  border-style: solid;
  color: $blue;
}

.RRT__tab--selected:focus {
  background-color: $red;
  border-color: white;
  border-style: solid;
}

.RRT__panel {
  border-style: solid;
  border-radius: 5%;
  // background: #6e1e3c;
  background-repeat: no-repeat;
  color: white;
  margin-bottom: 5%;
  margin-top: 1%;
  padding-top: 1.8%;
  padding-bottom: 2%;
}

.RRT__showmore--selected {
  background: $red;
  border-color: white;
  border-style: solid;
}

.RRT__showmore-label--selected {
  background-color: $red;
  border-color: white;
}
}