.divProgramme {
  color: white;
  background-color: white;
  width: 100%;
  font-family: $font-1;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 4rem;
    letter-spacing: 1px;
    list-style-type: none;
  }

  .RRT__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: -40px;
  }

  .RRT__tab--collapsed {
    background-color: #303030;
  }

  .RRT__tab:focus {
    background-color: #303030;
    border-style: solid;
    color: lighten(orangered, 20%);
  }

  .RRT__tab:hover {
    background-color: lighten(orangered, 20%);
    border-style: solid;
    color: lighten(orangered, 20%);
  }

  .RRT__tab, .RRT__showmore, .RRT__showmore-label--selected {
    background-position: center;
    background-color: lighten(white, 12%);
    background-repeat: no-repeat;
    border-style: solid;
  }

  /*.RRT__tab--selected, .RRT__showmore--selected {
    background-color: black;
    border-style: solid;
    color: black;
  }*/

  .RRT__tab--selected:focus {
    background-color: lighten(orangered, 20%);
    border-color: white;
    border-style: solid;
  }
  
  .RRT__panel {
    border-style: solid;
    border-radius: 5%;
    border: orangered solid 3px;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    margin-top: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #tab-0, #tab-1, #tab-2, #tab-3, #tab-4, .RRT__showmore{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: orangered;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    border: orangered solid 3px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #tab-0:hover, #tab-1:hover, #tab-2:hover, #tab-3:hover, #tab-4:hover, .RRT__showmore:hover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 5px;
    border: black solid 3px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #tab-0:focus, #tab-1:focus, #tab-2:focus, #tab-3:focus, #tab-4:focus, .RRT__showmore:focus{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 5px;
    border: black solid 3px;
    margin-left: 5px;
    margin-right: 5px;
  }
}