/* //////////// */
/* Style - Home */
/* //////////// */

/* Style - Custom fonts */

// Font title
#homeTitle{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: $font-1;
  color: $white;
  padding-top: 40px;
  font-size: 1.7rem;
  text-transform: uppercase;
  overflow: hidden;
}

// Font resizer
@media screen and (max-width: 430px){
  #homeTitle{
    font-size: 1.2rem;
  }
}


/* Style - Properties */

// Background
.homeContent{
  background-color: white;
//  background-color: $backgroundcolor;
//  background-image: $backgroundimg;
}

// Suppression de la barre de navigation de l'ensemble des pages
::-webkit-scrollbar {
  display: none;
}