/* ///////////////// */
/* Style - Formation */
/* ///////////////// */

/* Style - Custom fonts */

// Main title
#iutenactionTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: $font-1;
  color: $white;
  padding-top: 40px;
  font-size: 1.7rem;
  text-transform: uppercase;
  overflow: hidden;
}

/* Style - Properties */

// Background
.iutenactionContent {
  background-color: black;
  //background-color: $backgroundcolor;
  //background-image: $backgroundimg;
}