/* //////////////////////// */
/* Style - Mentions légales */
/* //////////////////////// */

/* Style - Custom fonts */

// Main title  
#mentionsTitle{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: $font-1;
  color: black;
  width: 40%;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 40px;
  font-size: 1.7rem;
  text-transform: uppercase;
  overflow: hidden;
  //text-decoration: underline orangered 5px;
  border-bottom: orangered 5px solid;
}

// Resizer
@media screen and (max-width: 430px){
  #mentionsTitle{
    font-size: 1.2rem;
  }
}


/* Style - Properties */

// Background
.mentionsContent{
  background-color: white;
}