/* ///////////////////// */
/* Style - Vie étudiante */
/* ///////////////////// */

/* Style - Custom fonts */

// Font title
#etuTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: $font-1;
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.7rem;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  // Font resizer
  @media screen and (max-width: 430px){
    #etuTitle{
      font-size: 1.2rem;
    }
  }
  
  
  /* Style - Properties */
  
  // Background
  .etuContent{
    background-color: white;
    //background-image: $backgroundimg;
  }


  .composantVieEtu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
  }

  i{
    margin-top: 20px;
  }

@media screen and (max-width: 1000px) {
  .composantVieEtu{
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
  }
}