// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
$font-1: 'Ubuntu', sans-serif;

// Colors

$white: #FFF;
$black: black;
$background: #15090E;
$box: #a62149;
$unselect: #62253c;
$lightred:#A62E5B;

// General CSS

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}