@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$font-1: 'Ubuntu', sans-serif;

$white: #FFF;
$black: #333;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}