.footer {
    width: 100%;
    height: 80px;
    font-size: 1.25rem;
    font-family: $font-1;
    background-color: black;
    border-top: orangered solid 2px;     
    color: $white;
    overflow: hidden;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-bottom: 5px;
        flex-wrap: wrap;
        text-align: center;
        li {
            list-style-type: none;
            letter-spacing: 1px;
            img {
                width: 100px;
            }
            i {
                font-size: 50px;
            }
        }
    }
}


@media screen and (max-width: 640px){
    .footer{
        ul{
            li{
                letter-spacing: 0px;
                font-size: 0.9rem;
                i{
                    font-size: 30px;
                }
                img{
                    width: 80px;
                }
            }
        }
    }
    #adminFooter{
        display: none;
    }
}

@media screen and (max-width: 300px){
    #fbFooter{
        display: none;
    }
    #instaFooter{
        display: none;
    }
}

// Animation pour l'icône Facebook + IUT
.image:hover, #fbFooter:hover {
    // Changement du type de curseur
    cursor: pointer;
    text-align: center;
    // Déclaration du nom + durée de l'animation
    animation-name: floatingImg;
    animation-duration: 2s;
    // Quelques propriétés diverses
    animation-timing-function: cubic-bezier(.2, 0, .8, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    .fbFooter, a, i {
        color: $blue;
    }
}

// Animation pour l'icône d'Instagram
#instaFooter:hover {
    // Changement du type de curseur
    cursor: pointer;
    text-align: center;
    // Dégradé de couleur
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    // Correction des problèmes de webkit
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // Déclaration du nom + durée de l'animation
    animation-name: floatingImg;
    animation-duration: 2s;
    // Quelques propriétés diverses
    animation-timing-function: cubic-bezier(.2, 0, .8, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

// Définition de l'animation floatingImg
@keyframes floatingImg {
    100% {
        transform: translateY(10px);
    }
}

.afooter:hover, .panfooter:hover {
    color: orangered;
}