.divMentions {
  color: black;
  font-family: $font-1;
  font-size: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 35px;
  padding-bottom: 50px;
  span {
    text-decoration: underline;
    font-weight: bold;
  }
  p{
      font-weight: bold;
      text-align: center;
  }
}

.enseignantRef {
  padding-top: 5%;
  ul {
    padding-top: 1%;
  }
  li {
    list-style-type: none;
    a{
      color : black;
    }
  }
}

.elevesProj {
  padding-top: 5%;
  ul {
    padding-top: 1%;
  }
  li {
    list-style-type: none;
  }
}

.Contacts {
  padding-top: 5%;
  li {
    list-style-type: none;
  }
  .Adresse {
    padding-top: 2%;
  }
  .Telephones {
    padding-top: 2%;
  }
  a{
    color: black;
  }
  a:hover{
    color: orangered;
    text-decoration: underline orangered 2px;
  }
}

.creditPhoto {
    padding-top: 5%;
    ul {
      padding-top: 1%;
    }
    li {
      list-style-type: none;
    }
    .link{
        text-decoration: underline;
        color:orangered;
    }
  }
  
