.divDiscord {
  color: white;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
  flex-basis: auto;
  font-size: 1rem;
  font-family: $font-1;
  width: 800px;
  height: 500px;
  background-image: url('../../../media/vieetudiante/fondDiscord.PNG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    text-align: center;
    h4 {
      color: rgba(255, 255, 255, 1);
      font-style: none;
      text-decoration: none;
    }
  }
  p {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 60px;
  }

  .imgDiscord {
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
    .logoDiscord {
      width: 100%;
      height: auto;
      margin: auto;
      border-radius: 120px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .divDiscord {
    width: 100%;
    height: 500px;
    .imgDiscord {
      width: 20%;
    }
  }
}

@media screen and (max-width: 450px) {
  .divDiscord {
    .imgDiscord {
      width: 30%;
    }
  }
}
