.divDiscord {
  color: white;
  width: 800px;
  height: 700px;
  display: block;
  flex-grow: 1;
  flex-basis: auto;
  font-size: 1rem;
  font-family: $font-1;
  background-image: url("../../../media/vieetudiante/fondDiscord.jpg"); //Changer le nom du fichier//
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .fondDiscord {
    background-color: rgba(80, 80, 80, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
    h4 {
      color: rgba(255, 255, 255, 1);
      font-style: none;
      text-decoration: none;
    }
  }

  p {
    padding-top: 15px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 240px;
    height: 110px;
  }

  .imgDiscord {
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
    .logoDiscord {
      width: 100%;
      height: auto;
      margin: auto;
      border-radius: 120px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -o-transition:.7s;
      -ms-transition:.7s;
      -moz-transition:.7s;
      -webkit-transition:.7s;
      transition:.7s ease-in-out;
    }
    .logoDiscord:hover {
      -webkit-transform: scale(1.2) rotate(360deg);
      transform: scale(1.2) rotate(360deg);    
    }  
  }
  .reseauDiscord {
    text-align: center;
    color: white;
    span {
      text-decoration: underline;
      font-size: 1.3rem;
      padding-bottom: 5px;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 10px;
      li {
        list-style-type: none;
        letter-spacing: 1px;
        i {
          font-size: 35px;
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  .divDiscord {
    width: 100%;
    height: 600px;
    .imgDiscord {
      width: 20%;
    }
    p {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 700px){
  .divDiscord{
    height: 550px;
  }
}

@media screen and (max-width: 450px) {
  .divDiscord {
    .imgDiscord {
      width: 30%;
    }
  }
}

// Animation for website icon
#discordBUT {
  .discordBUT {
    color: white;
  }
}
#discordBUT:hover {
  // Change type of cursor
  cursor: pointer;
  text-align: center;
  // Animation's properties
  animation-name: floatingImg;
  animation-duration: 2s;
  // Check this property on internet if you want to know more about it (flemme d'expliquer mdrrr)
  animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  .discordBUT, a, i {
    color: #7289DA;
  }
}

// Animation movement
@keyframes floatingImg {
  100% {
    transform: translateY(10px);
  }
}
