.divMaisonCamp {
  color: white;
  display: block;
  flex-grow: 1;
  flex-basis: auto;
  font-size: 1rem;
  font-family: $font-1;
  background-image: url("../../../media/vieetudiante/fondCampus.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 700px;
  .fondCampus {
    background-color: rgba(80, 80, 80, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
    h4 {
      color: black;
      font-style: none;
      text-decoration: none;
    }
  }
  p {
    padding-top: 15px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 240px;
    height: 110px;
    a {
      font-weight: bold;
      font-size: 1.2rem;
    }
    a:hover {
      color: $blue;
    }
  }

  .imgMaisonCamp {
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    align-content: center;
    .logoMaisonCamp {
      width: 100%;
      height: auto;
      margin: auto;
      border-radius: 120px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -o-transition:.7s;
      -ms-transition:.7s;
      -moz-transition:.7s;
      -webkit-transition:.7s;
      transition:.7s ease-in-out;
    }
    .logoMaisonCamp:hover {
      -webkit-transform: scale(1.2) rotate(360deg);
      transform: scale(1.2) rotate(360deg);    
    }    
  }
  .reseauMaisonCamp {
    text-align: center;
    span {
      text-decoration: underline;
      font-size: 1.3rem;
      padding-bottom: 5px;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 10px;
      #instaMaisonCamp {
        padding-left: 10px;
        padding-right: 10px;
      }
      #fbMaisonCamp {
        padding-right: 10px;
      }
      #siteMaisonCamp {
        padding-left: 10px;
      }
      li {
        list-style-type: none;
        letter-spacing: 1px;
        i {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .divMaisonCamp {
  width: 100%;
  height: 600px;
    .imgMaisonCamp {
      width: 20%;
    }
    p {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 700px){
  .divMaisonCamp{
    height: 550px;
  }
}

@media screen and (max-width: 450px) {
  .divMaisonCamp {
    .imgMaisonCamp {
      width: 30%;
    }
  }
}

// Animation for facebook icon
#fbMaisonCamp {
  .fbMaisonCamp {
      color: white;
    }
  }

#fbMaisonCamp:hover {
  // Change type of cursor
  cursor: pointer;
  text-align: center;
  // Animation's properties
  animation-name: floatingImg;
  animation-duration: 2s;
  // Check this property on internet if you want to know more about it (flemme d'expliquer mdrrr)
  animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  .fbMaisonCamp, a, i {
    color: $blue;
  }
}

// Animation for Instagram icon
#instaMaisonCamp {
  i {
    color: white;
  }
}
#instaMaisonCamp:hover {
  // Change type of cursor
  cursor: pointer;
  text-align: center;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  // Fixed webkit issue
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // Animation's properties
  animation-name: floatingImg;
  animation-duration: 2s;
  // Check this property on internet if you want to know more about it (flemme d'expliquer mdrrr)
  animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

// Animation for website icon
#siteMaisonCamp {
  .siteMaisonCamp {
    color: white;
  }
}
#siteMaisonCamp:hover {
  // Change type of cursor
  cursor: pointer;
  text-align: center;
  // Animation's properties
  animation-name: floatingImg;
  animation-duration: 2s;
  // Check this property on internet if you want to know more about it (flemme d'expliquer mdrrr)
  animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  .siteMaisonCamp {
    color: orangered;
  }
}
// Animation movement
@keyframes floatingImg {
  100% {
    transform: translateY(10px);
  }
}
