.divMC {
  color: black;
  font-size: 1rem;
  font-family: $font-1;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  .textMC {
    width: 45%;
    .MPU {
      .imageMPU {
        width: 100%;
        height: auto;
        img{
          box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
          -moz-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
          -webkit-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
        }
       }
    }
    h2 {
      text-align: left;
      margin-left: 5%;
      margin-right: 5%;
      text-transform: uppercase;
      h4 {
        color: black;
        font-style: none;
        text-decoration: none;
      }
    }
    p {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      padding-bottom: 30px;
      em {
        text-decoration: underline;
        font-style: normal;
      }
    }
    .liensMC {
      text-align: center;
      margin-bottom: 30px;
      a {
        color: orangered;
        font-weight: bold;
        font-size: 1.2rem;
      }
      a:hover {
        color: $blue;
      }
    }
  }
}

.MPU {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .imgMPU {
    width: 35%;
    margin-right: 8%;
    img {
      width: 100%;
      height: auto;

      box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -moz-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -webkit-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);

    }
  }
  margin-bottom: 40px;
}

.SUAPS {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
  .imgSUAPS {
    width: 35%;
    margin-left: 8%;
    img {
      width: 100%;
      height: auto;
      box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -moz-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -webkit-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);

    }
  }
}

.Culture {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .imgCulture {
    width: 35%;
    margin-right: 8%;
    img {
      width: 100%;
      height: auto;
      box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -moz-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -webkit-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);

    }
  }
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .divMC {
    .textMC {
      width: 80%;
      align-self: center;
      padding-top: 10px;
    }
  }
  .SUAPS,
  .MPU,
  .Culture {
    flex-direction: column;
    justify-content: center;
    .imgMPU,
    .imgCulture,
    .imgSUAPS {
      margin: auto;
      width: 650px;
      img {
        box-shadow: 25px 5px 25px 5px rgba(196, 196, 196, 0.8);
        -moz-box-shadow: 25px 5px 25px 5px rgba(196, 196, 196, 0.8);
        -webkit-box-shadow: 25px 5px 25px 5px rgba(196, 196, 196, 0.8);
  
        margin: auto;
      }
    }
  }
  .SUAPS {
    .textMC {
      order: 1;
    }
    img{
      box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -moz-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);
      -webkit-box-shadow: 0px 5px 25px 5px rgba(196, 196, 196, 0.8);

    }
  }
  .Culture {
    margin-bottom: 0px;
    textMC {
      .liensMC {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .divMC {
    .textMC {
      width: 100%;
      align-self: center;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  .SUAPS,
  .MPU,
  .Culture {
    .imgMPU,
    .imgCulture,
    .imgSUAPS {
      width: 100%;
    }
  }
}
