.ApreslebutContent{
  padding-top: 100px;
  padding-bottom: 100px;
  color: $white;
  font-family: $font-1;
  width: 400px;
  text-align: center;
  h2{
    font-size: 1.5rem;
    padding-top: 10px;
  }
}