.ApreslebutContent{
  color: $white;
  font-family: $font-1;
  width: 400px;
  text-align: center;
  h2{
    display: block;
    font-size: 1.5rem;
  }
  .general{
    width: 100%;

    h2{
      color: black;
      text-align: center;
      padding-top: 20px;
      text-transform: uppercase;
    }
  }
}